@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Gowun Dodum', sans-serif; 
  /* text-align: center; */
}

.header {
  height: 60px;
  /* display: flex; */
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #eee;
  padding: 0 15px;
  justify-content: space-between;
  z-index: 5;
  /* position: relative; */
  text-align: center;
  /* margin-left: 200px; */
  /* display: flex; */
  justify-content: center;
}

.header > h1 {
  color: #627DFE;
  align-items: center;
  font-size: 1.5rem;
  text-align: center;
  /* margin-left: 500px; */
}

.course { 
  width: 100%;
  min-height: 100vh;
  padding: 0 0px;
  background: #cfe8fc;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - 60px);
}

/* 흰색 가운데 상자 */
.course .courseContainer {
  /* padding: 60px; */
  /* margin: auto; 이걸로 하면 완전 중앙에 온다.. margin-top 으로 조절해줘야함*/
  width: 100%;
  /* max-width: 800px; */
  min-height: 550px;
  flex-direction: column;
  justify-content: center;
  /* background: radial-gradient(
    ellipse at left bottom,
    rgba(22, 24, 47, 1) 0%,
    rgba(38, 20, 72, 0.9) 59%,
    rgba(17, 27, 75, 0.9) 100%
  ); */
  
  /* 여기부터 다름 */
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
  padding: 18px 20px 20px 15px;
  margin-top: 30px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 25px;
  width: 1200px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.07);
  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;
  /* text-align: center; */
}

.course .courseContainer .text {
  text-align: center;
  color: #627DFE;
  margin-bottom: 10px;
  font-size: 2 rem;
  font-family: 'Gowun Dodum', sans-serif; 
  margin-top: 20px;
}

.course .courseContainer .study-box {
  /* text-align: left; */
  /* display: flex; */
  text-align: center;
  margin-top: 15px;
  margin-left: 30px;
}

/* 이거 길을 잃었다.. */
.course .courseContainer .study-box .text > h2 {
  text-align: left;
  font-family: 'Gowun Dodum', sans-serif; 
  margin-left: 20px;
  margin-bottom: 50px;
}

.course .courseContainer .study-box .right-box {
  margin-top: 20px;
}

.course .courseContainer .study-box .right-box .text > h3 {
    color: #000000;
}

.course .courseContainer .study-box .study-box-box {
  /* width: 100%;
  height: 100%;
  margin: 0 10px;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.07);
  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer; */
  flex-direction: column;
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}


.course .courseContainer .study-box .errMsg {
    color: #f00;
    font-size: 20px;
    margin-top: 10px;
}

.course .btn-space {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  /* margin-bottom: 10px; */
}

.course .btn-space .btn-study {
  border: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  /* padding: 15px 20px; */
  border-radius: 7px;
  color: rgb(255, 255, 255);
  font-size: 12px;
  background: #627DFE;/*#ffd500;*/
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.13);
  transition: all 0.2s ease;
  /* margin-bottom: 25px;   */
  width: 100px;
  height: 40px;
  font-family: 'Gowun Dodum', sans-serif;
  text-align: center;
  justify-content: center;
  transition-duration: 0.5s;
  text-decoration: none;
  overflow: hidden;
}

.course .btn-space .btn-study:hover {
  background:rgb(255, 255, 255);
  box-shadow:0px 2px 10px 5px #97B1BF;
  color:#000;  
}

.course .btn-space .btn-course {
  border: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  /* padding: 15px 20px; */
  border-radius: 7px;
  color: rgb(255, 255, 255);
  font-size: 12px;
  background: #627DFE;/*#ffd500;*/
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.13);
  transition: all 0.2s ease;
  /* margin-bottom: 25px;   */
  width: 110px;
  height: 40px;
  font-family: 'Gowun Dodum', sans-serif;
  text-align: center;
  justify-content: center;
  transition-duration: 0.5s;
  text-decoration: none;
  overflow: hidden;
}

.course .btn-space .btn-course:hover {
  background:rgb(255, 255, 255);
  box-shadow:0px 2px 10px 5px #97B1BF;
  color:#000;  
}

.course .courseContainer .study-box .input-text-field {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  /* justify-content: center; */
  /* 아래것만 먹는데 이걸 하면 또 중간은 아니다.. 뭐지? */
  /* align-items: center; */
}
	
.course .courseContainer .study-box .input-text-field > input[type=text] {
  border: 0;
  border-bottom: 2px solid #f2f3f8;
  /* text-align: center; */
  margin-top: -3px;
  margin-bottom: 20px; 
  margin-left: 35px;
  width: 200px;
  height: 40px;
  font-size: 15px;
  transition: all 0.2s ease;
	/* text-align: center; */
	/* display: flex; */
  /* justify-content: center; */
}

/* btn-search */
.course .courseContainer .study-box .input-text-field .btn-search {
  border: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  /* padding: 15px 20px; */
  border-radius: 7px;
  color: rgb(0, 0, 0);
  font-size: 13px;
  background: #cfe8fc;/*#ffd500;*/
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.13);
  transition: all 0.2s ease;
  /* margin-bottom: 25px;   */
  width: 100px;
  height: 40px;
  font-family: 'Gowun Dodum', sans-serif;
  /* 아래 세개 다 안먹음 */
  /* text-align: center;
  justify-content: center;
  align-items: center; */
  /* margin-bottom: 10px; */
  /* margin-top: 5px; */
  margin-left: 80px;
  /* font-family: 'Gowun Dodum', sans-serif;  */
  transition-duration: 0.5s;
  text-decoration: none;
  overflow: hidden;
}

/* #97B1B */
.course .courseContainer .study-box .input-text-field .btn-search:hover{
   background:rgb(255, 255, 255);
   box-shadow:0px 2px 10px 5px #97B1BF;
   color:#000;
}

.course .footer .blank {
  /* display: flex; */
  /* margin-top: 20px; */

  /* margin-left: 10px; */
  /* margin-bottom: 20px; */
  /* text-align: left; */
  /* margin-left: 20px; */
  /* margin-right: 20px; */
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    margin-top: 20px;
    margin-left: -40px;
}

.course .footer .blank .btn-logout {
  border: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  padding: 15px 20px;
  border-radius: 7px;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  background: #627DFE;/*#ffd500;*/
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.13);
  transition: all 0.2s ease;
  margin-bottom: 25px;  
  width: 150px;
  font-family: 'Gowun Dodum', sans-serif;
  margin-left: 30px;
  /* font-family: 'Gowun Dodum', sans-serif;  */
  transition-duration: 0.5s;
  text-decoration: none;
  overflow: hidden;
  /* justify-content: center; */
}

.course .footer .blank .btn-logout:hover {
  background:rgb(255, 255, 255);
  box-shadow:0px 2px 10px 5px #97B1BF;
  color:#000;
}